* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #f6f7fb;
}

.chat-container {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#message-wrapper {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

#message-list {
  margin-bottom: auto;
}

.message-box {
  width: 100%;
  display: flex;
}

.message-box + .message-box {
  margin-top: 10px;
}

.message-box .bubble {
  max-width: 100%;
  padding: 0.8em 1em;
  border-radius: 1em;
  line-height: 1.44;
  word-wrap: break-word;
}

.message-box.question-item {
  justify-content: flex-end;
  white-space: pre-wrap;
}

.question-item .bubble {
  background: #e0dfff;
}

.message-box.answer-item {
  justify-content: flex-start;
}

.answer-item .bubble {
  background: #ffffff;
  box-sizing: border-box;
}

.input-area {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  border: 1px solid #e8eaf2;
  border-radius: 1em;
  background: #ffffff;
  box-sizing: border-box;
}

.input-area:has(#text-area:focus) {
  border-color: #5c56e3;
}

#text-area {
  flex: 1;
  min-width: 0;
  resize: none;
  border: none;
  outline: none;
}

#send-btn {
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 0.6em;
  padding: 0.8em 1em;
  background: #5c56e3;
  color: #ffffff;
}

#send-btn:disabled {
  background: #9b97e7;
  cursor: not-allowed;
}
